/* gcuPolitics.css */
#gcu-politics .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

#gcu-politics .title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

#gcu-politics .content {
    line-height: 1.6;
}

#gcu-politics h1,
h2,
h3 {
    font-weight: bold;
    color: #333;
}

#gcu-politics p {
    font-size: 16px;
    color: #444;
}

#gcu-politics ol,
ul {
    margin-left: 20px;
}

#gcu-politics li {
    font-size: 16px;
}